.sidebar {
    width: 250px;
    background: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
    font-size: larger;
}

.sidebar ul li a:hover {
    background: #1abc9c;
    padding: 10px;
}

.logout {
    text-align: center;
    padding: 15px;
    background: #e74c3c;
    color: white;
    text-decoration: none;
    display: block;
    margin-top: auto;
    transition: 0.3s;
}

.logout:hover {
    background: #c0392b;
}
